<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite" verbose="1" configfailurepolicy="continue" parallel="true" thread-count="1">
    <test name="Regression Testing">
        <classes>
            <class name="io.ctdev.cucumber.runner.CucumberBaseTest"/>
        </classes>
    </test>
</suite>