<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite" verbose="1" configfailurepolicy="continue" parallel="none" thread-count="1">
    <test name="Regression Testing">
        <classes>
            <class name="io.ctdev.lesson6.products.VerifySoldOutProduct"/>
            <class name="io.ctdev.lesson6.products.VerifyOneProductInfoInBasket"/>
        </classes>
    </test>
</suite>